# SwapPay Environment Variables
# Add your Gmail address and an App Password here to test email notifications
EMAIL_USER=swappay.official@gmail.com
EMAIL_PASS=aumcufknzyqyusfk

# Database Configuration
#DB_HOST=nozomi.proxy.rlwy.net
#DB_USER=root
#DB_PORT=38157
#DB_PASS=NLvEThJtpKRrBYkmRkyRoxeEzDLDIaCA
#DB_NAME=railway

#DATABASE_URL=postgresql://swappay_db_user:33Ajc13xQuNY8BkXuchu9ALF0PBSevUR@dpg-d7ia06aqqhas738ususg-a/swappay_db

#DB_HOST=bgmjnf9w5nz8t7jfxdey-mysql.services.clever-cloud.com
#DB_USER=uidxnlyalpjp4shp
#DB_PASS=uidxnlyalpjp4shp
#DB_NAME=bgmjnf9w5nz8t7jfxdey
#DB_PORT=3306

DATABASE_URL=DATABASE_URL=postgresql://neondb_owner:npg_wX7MmeLB0FTU@ep-wandering-salad-an98u8xz-pooler.c-6.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require


# Application Configuration
SESSION_SECRET=swappay_super_secure_secret_2026_!!
NODE_ENV=development

JWT_SECRET=swappay_jwt_secret_token_2026_!!
