# SwapPay Environment Variables
# Add your Gmail address and an App Password here to test email notifications
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password

# Database Configuration
#DB_HOST=nozomi.proxy.rlwy.net
#DB_USER=root
#DB_PORT=38157
#DB_PASS=NLvEThJtpKRrBYkmRkyRoxeEzDLDIaCA
#DB_NAME=railway
DATABASE_URL=postgresql://swappay_db_user:33Ajc13xQuNY8BkXuchu9ALF0PBSevUR@dpg-d7ia06aqqhas738ususg-a/swappay_db


# Application Configuration
SESSION_SECRET=swappay_super_secure_secret_2026_!!
NODE_ENV=development

JWT_SECRET=swappay_jwt_secret_token_2026_!!
